<%- include("../includes/head.ejs") %>
<%- include("../includes/nav.ejs") %>
<div class="container">
  <div class="row">
    <div class="col-md-6">
        <% if(msg!='') { %>
           <div class="alert alert-<%= key %>"><%= msg %></div> 
        <% } %>
        <form action="/resetPassword" method="POST">
            <div class="form-group">
                <label for="password">New Password</label>
                <input type="hidden" name="_csrf" value="<%= csrftoken %>">
                <input type="hidden" name="userId" value="<%= userId %>">
                <input type="hidden" name="token" value="<%= token %>">
                <input type="password" class="form-control" name="password" id="password" placeholder="Password" >
            </div>
            <div class="form-group">
                <label for="cp">Confrim Password</label>
                <input type="cp" class="form-control" name="cp" id="cp" placeholder="Confirm Password" >
            </div>
            <div class="form-group">
                <input type="submit"  class="form-control btn btn-info" value="Update Password" >
            </div>
        </form>
    </div>
  </div>
</div>
<%- include("../includes/end.ejs") %>