<%- include("../includes/head.ejs") %>
<%- include("../includes/nav.ejs") %>
<div class="container">
  <div class="row">
    <% if(prods.length>0){ %>
        <% for(let product of prods){ %>
        <div class="col-md-4">
            <div class="thumbnail" >
                <div class="caption">
                    <p class="text-center"><%= product.title %></p>
                </div>
                <img src="/<%= product.imgUrl %>" alt="Lights" style="width:100%">
                <div class="caption">
                    <p><%= product.price %>$</p>
                </div>
                <div class="caption">
                    <p><%= product.description %></p>
                </div>
                <div class="caption text-center">
                    <a href="/admin/edit-product/<%= product._id %>?edit=true" class="btn btn-info">Edit</a>
                    <button onclick="deleteProduct(this)" id="<%= product._id %>#<%= csrftoken %>" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
        <% } %>
    <% } else { %>
        <h1>No Products Found</h1>
    <% } %>
  </div>
  <div class="row">
     <%- include('../includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage,totalPage:totalPage}) %>
  </div>
</div>

<%- include("../includes/end.ejs") %>
<script src="/js/admin.js"></script>