<%- include("../includes/head.ejs") %>
<%- include("../includes/nav.ejs") %>
    <div class="container">
  <div class="row">
    <% if(cartProduct.length>0){ %>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th class="text-center">Sl.</th>
                <th class="text-center">Product Title</th>
                <th class="text-center">Qty</th>
                <th class="text-center">Price</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
         <% var i=1; %>
            <%  cartProduct.forEach(p => {%>
                <tr>
                    <td class="text-center"><%= i++ %></td>
                    <td class="text-center"><%= p.productId.title %></td>
                    <td class="text-center"><%= p.qty %></td>
                    <td class="text-center"><%= p.productId.price %></td>
                    <td class="text-center"><a href="/delete-cart/<%= p.productId._id %>/<%= p.productId.price %>" class="btn btn-danger">Delete</a></td>
                </tr>
            <% }); %>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" class="text-center"><a href="/checkout" class="btn btn-success">Order Now</a></td>
            </tr>
        </tfoot>
    </table>
    <% } else { %>
        <h1>No Cart Found</h1>
    <% } %>
  </div>
</div>
<%- include("../includes/end.ejs") %>
